<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="wilson_eric_project2"/>
<stringAttribute key="device_id" value="53D2D54B-5A67-428F-8C83-BEB3AFAE27C7"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wilson_eric_project2"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="8.3"/>
<stringAttribute key="simulator_version" value="8.3"/>
</launchConfiguration>
